html {
  font-family: sans-serif;
}

body {
  user-select: none;
}

.fullscreen() {
  background: #fff;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

#start-screen {
  .fullscreen();
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: top 1s;

  &.hidden {
    top: -100%;
  }
}

#levels {
  display: flex;
  justify-content: center;
}

.level {
  border: 1px solid black;
  height: 40px;
  margin: 5px;
  width: 40px;
  line-height: 40px;
  text-align: center;
}

#game-container {
  .fullscreen();
  align-items: center;
  display: flex;
  justify-content: center;
}
