* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  user-select: none;
}

.center-elements() {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fullscreen() {
  background: white;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.shadow() {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, .5);
}

#game-container,
#start-screen,
#win-screen,
#restart-screen {
  .center-elements();
  .fullscreen();
}

#start-screen,
#win-screen {
  .shadow();
}

#menu {
  position: absolute;
  right: 48px;
  top: 48px;
}

button {
  background: white;
  border-radius: 4px;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  height: 36px;
  line-height: 34px;
  padding: 0 14px;

  &:hover {
    background: black;
    color: white;
  }
}

.buttons {
  text-align: right;

  button {
    margin-left: 12px;
  }
}

#moves,
#boxes,
#best {
  font-size: 13px;
  height: 24px;
  line-height: 24px;
  position: absolute;
  right: 48px;
}

#moves-count,
#boxes-count {
  font-size: 20px;
}

#boxes {
  top: (48px + 36px + 24px);
}

#moves {
  top: (48px + 36px + 24px + 24px + 12px);
}

#best {
  top: (48px + 36px + 24px + 24px + 12px + 24px + 12px);
}

#start-screen {
  transition: transform .5s;

  html.playing & {
    transform: translateY(-105%);
  }

  html.game-won & {
    transition: transform 0s ease .5s;
  }
}

#levels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: (10 * (44px + 2 * 10px) + 2 * 30px);
  padding: 0 30px;
  width: 100%;
}

.level {
  border-radius: 4px;
  border: 2px solid black;
  cursor: pointer;
  height: 44px;
  line-height: 40px;
  margin: 10px;
  text-align: center;
  width: 44px;
}

.continue {
  position: relative;

  &:before {
    background: white;
    border: 2px solid black;
    border-radius: 4px;
    content: 'Continue';
    font-size: 11px;
    line-height: 14px;
    height: 14px;
    position: absolute;
    left: 50%;
    bottom: -13px;
    padding: 0 3px;
    transform: translateX(-50%);
  }
}

.solved {
  &, &:before {
    border-color: green;
  }
}

#win-screen {
  transform: translateY(-105%);
  transition: transform .5s;

  html.game-won & {
    transform: translateY(0);
    transition: transform .5s ease .5s;
  }
}

#restart-screen {
  background: rgba(0, 0, 0, .5);
  opacity: 0;
  transform: scale(0);
  transition: opacity .5s, transform 0s ease .5s;

  html.restart-dialog & {
    opacity: 1;
    transform: scale(1);
    transition: opacity .5s, transform 0s;
  }
}

.dialog {
  .shadow();
  background: white;
  max-width: 600px;
  padding: 20px 40px;
  width: 100%;
}
