doctype html

html
  head
    title. Sobanko
    link(rel='stylesheet', href='static/css/bundle.css')
  body
    #canvas-container
      canvas

    #start-screen
      h1 Sobanko
      #levels

    script(src='static/js/bundle.js')
